In [ ]:
studentIds = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
tutorialModule1 = [32, 26, 30, 55, 39, 12, 26, 21, 22, 19]
tutorialModule2 = [50, 10, 50, 25, 30, 25, 12, 33, 54, 11]
tutorialModule3 = [37, 14, 30, 55, 38, 21, 22, 15, 42, 22]

First Task

In [ ]:
wholeData = list(zip(studentIds, tutorialModule1, tutorialModule2, tutorialModule3))
wholeData

[(1, 32, 50, 37),
 (2, 26, 10, 14),
 (3, 30, 50, 30),
 (4, 55, 25, 55),
 (5, 39, 30, 38),
 (6, 12, 25, 21),
 (7, 26, 12, 22),
 (8, 21, 33, 15),
 (9, 22, 54, 42),
 (10, 19, 11, 22)]

In [ ]:
studentGrades = {}
for id, t1,t2,t3 in wholeData:
  studentGrades[str(id)] = {"tutorialModule1": t1,"tutorialModule2": t2,"tutorialModule3": t3}
studentGrades

{'1': {'tutorialModule1': 32, 'tutorialModule2': 50, 'tutorialModule3': 37},
 '10': {'tutorialModule1': 19, 'tutorialModule2': 11, 'tutorialModule3': 22},
 '2': {'tutorialModule1': 26, 'tutorialModule2': 10, 'tutorialModule3': 14},
 '3': {'tutorialModule1': 30, 'tutorialModule2': 50, 'tutorialModule3': 30},
 '4': {'tutorialModule1': 55, 'tutorialModule2': 25, 'tutorialModule3': 55},
 '5': {'tutorialModule1': 39, 'tutorialModule2': 30, 'tutorialModule3': 38},
 '6': {'tutorialModule1': 12, 'tutorialModule2': 25, 'tutorialModule3': 21},
 '7': {'tutorialModule1': 26, 'tutorialModule2': 12, 'tutorialModule3': 22},
 '8': {'tutorialModule1': 21, 'tutorialModule2': 33, 'tutorialModule3': 15},
 '9': {'tutorialModule1': 22, 'tutorialModule2': 54, 'tutorialModule3': 42}}

In [ ]:
str(studentGrades)

"{'1': {'tutorialModule1': 32, 'tutorialModule2': 50, 'tutorialModule3': 37}, '2': {'tutorialModule1': 26, 'tutorialModule2': 10, 'tutorialModule3': 14}, '3': {'tutorialModule1': 30, 'tutorialModule2': 50, 'tutorialModule3': 30}, '4': {'tutorialModule1': 55, 'tutorialModule2': 25, 'tutorialModule3': 55}, '5': {'tutorialModule1': 39, 'tutorialModule2': 30, 'tutorialModule3': 38}, '6': {'tutorialModule1': 12, 'tutorialModule2': 25, 'tutorialModule3': 21}, '7': {'tutorialModule1': 26, 'tutorialModule2': 12, 'tutorialModule3': 22}, '8': {'tutorialModule1': 21, 'tutorialModule2': 33, 'tutorialModule3': 15}, '9': {'tutorialModule1': 22, 'tutorialModule2': 54, 'tutorialModule3': 42}, '10': {'tutorialModule1': 19, 'tutorialModule2': 11, 'tutorialModule3': 22}}"

Second Task
The second task is to find the students whose visits are above the overall average of the whole class. Let's assume that the overall average is 50. Then, your task is to identify the students who visited module 1, 2, and 3 tutorial pages more than 50 times. Overall average should be computed considering all visits (across all modules) by all students.

Your code should produce the following student id numbers:

[1, 3, 5]

Those having a score above than average for all tutorials individually

In [ ]:
idList1 = []

for id, g1, g2, g3 in wholeData:
  if (g1 > (sum(tutorialModule1)/len(tutorialModule1))):
    idList1.append(str(id))
  elif (g2 > (sum(tutorialModule2)/len(tutorialModule2))):
    idList1.append(str(id))
  elif (g3 > (sum(tutorialModule3)/len(tutorialModule3))):
    idList1.append(str(id))

idList1

['1', '3', '4', '5', '8', '9']

Those having higher score than average for all three tutorials

In [ ]:
idList2 = []

for id, g1, g2, g3 in wholeData:
  if (g1 > (sum(tutorialModule1)/len(tutorialModule1))) and (g2 > (sum(tutorialModule2)/len(tutorialModule2))) and(g3 > (sum(tutorialModule3)/len(tutorialModule3))):
    idList2.append(str(id))
idList2

['1', '3']

Those who have score above than average of all tutorails

In [ ]:
idList3 = []

for id, g1, g2, g3 in wholeData:
  if (g1 > 29) and (g2 > 29) and (g3 > 29):
    idList3.append(str(id))
idList3

['1', '3', '5']